<% provide(:title, 'Update Task') %>

<div class = "nav">
  <div class="row">
    <div class="col-md-offset-1">
      <%= link_to "Back to Task", @task%>
    </div>
  </div>
</div>

<div class = "row">
  <div class = 'col-md-offset-3 sub_title''>
    <span> Enter your new info </span>
  </div>
</div>

<div class = "row">

  <div class = "col-md-1 col-md-offset-3">
    <div class = 'sidebar'>
      <%= link_to "Delete Project", @task, method: :delete, class: "btn delete" %>
    </div>
  </div>

  <div class = 'col-md-4'>
    <%= link_to "Back to task", @task %>

      <%= form_for(@task) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

      <%= f.submit 'update task', class: "btn btn-primary" %>

      <% end %>

  </div>

</div>