<% provide(:title, 'New Task') %>

<div class = "nav">
  <div class="row">
    <div class="col-md-offset-1">
      <%= link_to 'Back to Project', @project%>
    </div>
  </div>
</div>

<div class = "row">

  <div class= "col-md-6 col-md-offset-3">

    <%= form_for(@task, url: new_task_path(project_id: params[:project_id])) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.submit 'create task', class: "btn btn-primary" %>

      <% end %>

  </div>

</div>