<div class = "edit_user">

<h1>Change User Name</h1>

<%= link_to "Back to Profile", @user %>

<%= form_for(@user) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit 'edit', class: "btn btn-primary" %>
<% end %>

<%= link_to "Delete Profile", @user, method: :delete %>

</div>