<% provide(:title, @user.name) %>

<div class = "show">

  <div class = "nav">
    <div class="row">
      <div class="col-md-offset-1">
        <%= link_to "Update Profile", edit_user_path %>
        <%= link_to "Log Out", login_user_path%>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = 'col-md-offset-3 sub_title''>
      <% if @user.projects.any? %>
        <span> Currently working on <%= @user.projects.count %> projects </span>
      <% else %>
        <span> Currently not working on any projects </span>
      <% end %>
    </div>
  </div>

  <div class = "row">

    <div class = "col-md-1 col-md-offset-3">
      <div class = 'sidebar'>
        <%= link_to "New Project", new_project_path(user_id: params[:id]), class: 'btn' %>
      </div>
    </div>

    <div class = 'col-md-8'>
      <% if @user.projects.any? %>
        <ul class="projects">
          <%= render @projects %>
        </ul>
      <% end %>
    </div>

  </div>

</div>