<div class = "show">

  <div class = "row">
    <h1><%=@user.name%></h1>
  </div>

  <div class = "row">
    <% if @user.projects.any? %>
      <h2> Currently working on <%= @user.projects.count %> projects </h2>
    <% else %>
      <h2> Currently not working on any projects </h2>
    <% end %>
  </div>

  <div class = "row">
    <div class = "col-md-2">
      <%= link_to "New Project", new_project_path(user_id: params[:id]) %>
    </div>
    <div class="col-md-2">
      <%= link_to "Update Profile", edit_user_path %>
    </div>
  </div>

  <% if @user.projects.any? %>
    <ul class="projects">
      <%= render @projects %>
    </ul>
  <% end %>

</div>