<h3>Edit Project</h3>

<%= link_to "Back to Project", @project %>

<%= form_for(@project) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_field :description, class: 'form-control' %>

  <%= f.submit 'update project', class: "btn btn-primary" %>
<% end %>