<% provide(:title, @project.title) %>

<div class = "nav">
  <div class="row">
    <div class="col-md-offset-1">
      <%= link_to "Back to Profile", @user %>
      <%= link_to "Edit Project Details", edit_project_path %>
    </div>
  </div>
</div>

<div class = "row">
  <div class = 'col-md-offset-3 sub_title''>
    <span> <%= @project.description %> </span>
  </div>
</div>

<div class = "row">

  <div class = "col-md-1 col-md-offset-3">
    <div class = 'sidebar'>
      <%= link_to "New Task", new_task_path(project_id: params[:id]), class: 'btn'%>
    </div>
  </div>

  <div class = 'col-md-8'>
    <% if @project.tasks.any? %>
      <ul class="tasks">
        <%= render @tasks %>
      </ul>
    <% end %>
  </div>

</div>