<div class = "show">


  <div class = "row">
    <h1><%= @project.title %></h1>
  </div>
  <div class = "row">
    <h2 class = "col-md-4"><%= @project.description %></h2>
  </div>

  <div class = "row">
    <div class = "col-md-2">
      <%= link_to "Back to Profile", @user%>
    </div>
    <div class="col-md-2">
      <%= link_to "Edit Project", edit_project_path%>
    </div>
    <div class="col-md-2">
      <%= link_to "New Task", new_task_path(project_id: params[:id])%>
    </div>
  </div>

<div class="col-md-8">
  <% if @project.tasks.any? %>
    <h3> There are currently <%= @project.tasks.count %> tasks </h3>
    <ul class="tasks">
      <%= render @tasks %>
    </ul>
  <% else %>
    <h3> This project currently has no tasks </h3>
  <% end %>
  <% link_to "Edit Project Details", edit_project_path %>
</div>

</div>